.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: transparent;
}

.hero-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url(/design/background_image/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2vw 0 2vw 0;
  flex-direction: column;
}

.hero-content {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: nowrap;
  /* align-items: stretch; */
  width: 85vw;
  /* justify-content: center; */
}

.hero-image{
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* width: calc(50% - 2vw); */
  width: 55%;
}

.hero-text {
  display: flex;
  flex-direction: column;
  /* padding: 2vw; */
  color: #fff;
  /* align-items: center; */
  width: 45%;
  font-size: clamp(22px,2.9vw,46px);
}

.hero-text h1 {
  font-size: 1em;
  margin-bottom: 2vw;
  color: #fff3eb;
}

.hero-text .biography{
  text-align: justify;
}

.hero-text .name-text {
  background: linear-gradient(140deg, #fff3eb, #d71000);
  background-clip: text;
  color: transparent;
  font-weight: bold; /* Ajuste o peso da fonte conforme necessário */
  font-size: 1.2em;
}

.hero-text p {
  line-height: 1.6;
  margin-bottom: clamp(20px,4vw,50px);
  font-size: clamp(16px,0.6em,28px);
}

.contact-info {
  margin-bottom: 2vw;
}

.contact-info p {
  margin: 0.5vw 0;
  font-size: clamp(16px,1.5vw,28px);
}

.contact-button {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5vw;
  align-items: center;
  overflow: hidden;
}

.contact-message {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: clamp(115px, 15vw, 400px);
  height: clamp(30px, 3.5vw, 70px);
  white-space: nowrap;
}

.download-cv {
  background-color: #ff6826;
  border-radius: 0.5vw;
  width: 100%;
  height: 100%;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; /* Remove o padding para centralizar o conteúdo */
  transition: background-color 0.3s;
}

.download-cv:hover {
  background-color: #ff3f00;
}

.download-cv a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(12px, 1.5vw, 20px); /* Font-size responsivo */
  transition: background-color 0.3s;
}


.social-icons {
  display: flex;
  gap: clamp(0.5vw, 1vw, 1.5vw);
}

.icon-container {
  position: relative;
}

.icon-container a {
  color: #ff6826;
  transition: color 0.6s;
  border: 2px solid gray;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(25px, 4vw, 50px);
  height: clamp(25px, 4vw, 50px);
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.icon-container a i {
  font-size: clamp(14px, 2.5vw, 32px);
  line-height: 1;
}

.icon-container a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: linear-gradient(60deg, #ffe5d0, #ff9d64);
  opacity: 0;
  transition: opacity 0.6s;
  z-index: -1;
}

.icon-container a:hover::before {
  opacity: 1;
}

.icon-container a:hover {
  color: #aa0d02;
}

@media(max-width:710px){
  .hero-conteiner{
    background-image: none;
    padding: 0;
  }

  .hero-content-mobile{
    content: "";
    width: 100vw;
    height: 50vw;
    background-image: url(/design/background_image/hero-mobile.jpg);
    background-size:cover;
    background-repeat: no-repeat;
  }

  .hero-content {
    flex-direction: column;
  }
  
  .hero-text{
    width: 100%;
    padding: 3vw;
  }

  .hero-image img{
    width: 60vw;
    height: 50vw;
  }
  .contact-button{
    gap: 3vw;
  }
  .social-icons {
    gap: 2vw;
  }
}
@media (min-width: 1460px) {
  .hero-text{
    padding: 2vw;
  }
  
}